@charset "UTF-8";


@media screen and (max-width: 768px){
    body{
        grid-template-columns: 1fr;
        transition: 1s;
    }
    .menu, .grid-section, .copy{
        grid-column: 1;
    }
    .grid-section{
        grid-template-columns: 100px 1fr;
        grid-gap: 10px;
    }
    .animais-lista{
        grid-column: 1;
    }
    .faq-lista, .dados, .mapa{
        grid-column: 1/3;
    }
    .grid-section h1{
        font-size: 3rem;
    }
    .menu{
        margin-top: 0px;
    }
    .copu{
        margin-bottom: 0px;
    }
}